@import "tailwindcss";

:root {
  --blue-primary: #2196f3;
  --blue-light: #e3f2fd;
  --text-primary: #212121;
}

.clip-diagonal {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  margin-top: -15%;
  padding-top: calc(15% + 1.5rem);
}
